@mixin form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: .5rem;
  background: #fff;
}

#input {
  @include form-control;
  width: 100%;
  height: 10rem;
  min-height: 4em;
  resize: vertical;
}

#row-submit {
  text-align: center;
}

#submit {
  @include form-control;
  width: 70%;
  cursor: pointer;
  
  &:hover {
    background: #f9f9f9;
  }
  
  &[disabled] {
    background: #f9f9f9;
    cursor: not-allowed;
  }
}

#results-wrapper {
  overflow-x: auto;
}

#results {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

#results-header-encoding,
#results-header-decoding {
  width: 10rem;
  min-width: 10rem;
}

#results-header-encoding,
#results-header-decoding,
#results-header-result {
  text-align: left;
}

.results-body {
  vertical-align: top;
  white-space: nowrap;
}

.results-body-result {
  white-space: pre-wrap;
}

#links {
  font-size: .75rem;
}
